.speech{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
.stage-direction{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color: black;
    background-color: turquoise;
}

.stage-direction:hover{
    background-color: olive;
    color: thistle;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}

.lucentio{
    color :magenta;
}
.hortensio{
    color : blue;
}
.bianca{
    color: seagreen;
}
table{

    border-style:double ;
    color:seagreen    ;   
    text-align: center;
    padding: 5mm;
    margin : 5mm;
}


